@import "base";

.dashboard {
  display: flex;
  padding: 50px;
}

.item {
  display: inline-flex;
  width: 100px;
  height: 100px;
  background: #fff no-repeat center;
  background-size: contain;
  margin: 15px;
  padding: 10px;
  border-radius: 2px;
  transition: 0.1s ease-in;
  &:hover {
    box-shadow: 0 0 1px #222;
  }
}
